[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
ipykernel = "~=5.5.6"
dynaconf = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
pyarrow = "*"
imbalanced-learn = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.8"
